@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;700&family=Frank+Ruhl+Libre:wght@700;900&display=swap');

:root {
    --blue: #C7DDEA;
    --yellow: #FFB939;
    --orange: #F17949;
    --grey: #A9A19E;
}

/* .-.-.-.-.-.-.-.-.-.-.-.-.-. GENERAL .-.-.-.-.-.-.-.-.-. */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Fira Sans', sans-serif;
    text-decoration: none;
}

body {
    background-color: #EBEBEB;
}

h1, h2, h3, h4 {
    font-family: 'Frank Ruhl Libre', serif;
    letter-spacing: -1px;
}

h1, h2 { 
    font-size: 2.8rem; 
    line-height: 2.8rem;
}

h2 {
    color: white;
    font-weight: 900;
    padding-bottom: 1rem;
}

h3 {
    font-size: 2rem;
    color: white;
}

.button {
    border: none;
    background-color: white;
    padding: 1em 4em;
    border-radius: 2rem;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);
    font-size: 0.7rem;
    text-transform: uppercase;
    cursor: pointer;
}

.wrapper {
    max-width: 1000px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: 
    'hero hero hero  hero-cards hero-cards hero-cards'
    '.      nav     nav     nav     nav        .'
    'main   main    main    main    main    main'
    'how-it-works how-it-works how-it-works how-it-works how-it-works how-it-works'
    'footer  footer  footer  footer  footer  footer';
}

.wrapper--contact {
    grid-template-areas: 
    'hero   hero  hero  hero   hero  hero'
    '.    nav     nav     nav     nav     .'
    'main   main    main    main   main    main'
    'visit  visit   visit   visit  visit   visit'
    'footer footer  footer  footer  footer  footer';
}


/* .-.-.-.-.-.-.-.-.-.-. UTILITY CLASSES - BACKGROUND COLOR .-.-.-.-.-.-.-.-.-. */

.blue    { background-color: var(--blue)   ;   }
.orange  { background-color: var(--orange) ;   }
.yellow  { background-color: var(--yellow) ;   }

/* .-.-.-.-.-.-.-.-.-.-.-.-.-. HERO & NAV .-.-.-.-.-.-.-.-.-. */

.hero {
    grid-area: hero;
    height: 34rem;
    padding: 3rem 6rem;
    background-image: url(images/family.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 60%;
}

.hero--contact {
    height: 21rem;
    background-image: url(images/man-and-child.png);
    background-size: 17%;
    background-position: 87% bottom;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero__p {
    margin: 1rem 0 4.5rem;
    color: white;
    font-size: 0.8rem;
    font-weight: 700;
    line-height: 1.5rem;
    width: 78%;
}

.hero__span {
    color: rgba(0, 0, 0, 0.6);
}

.hero__cards {
    grid-area: hero-cards;
}

.hero__card {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card__p {
    font-size: 0.7rem;
    opacity: 0.5;
    font-weight: 700;
}

.nav {
    grid-area: nav;
    padding: 1.5rem 0;
}

.nav__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center; 
    list-style: none;
}

.nav__link {
    color: rgba(0, 0, 0, 0.4);
    font-weight: 600;
    font-size: 0.8rem;
}

.nav__link--active { color: rgb(0, 0, 0); } /* To highlight active page in nav-bar! */

/* .-.-.-.-.-.-.-.-.-.-.-.-.-. MAIN .-.-.-.-.-.-.-.-.-. */

.main {
    grid-area: main;
    padding-bottom: 6rem;
    background: linear-gradient(var(--grey) 45%, var(--yellow) 45%);
}

.wrapper--contact .main {
    background: var(--grey);
}

.main__heading {
    padding: 5rem 6rem 0rem;
    display: flex;
    justify-content: space-between;
}

.main__heading__p {
    width: 35%;
    opacity: 0.6;
    font-weight: 500;
    font-size: .8rem;
    line-height: 1.5rem;
}

.heading__wrapper {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4rem;
}

.main__card-wrapper {
    padding: 5rem 2rem;
    display: flex;
    gap: 1.8rem;
    justify-content: center;
}

.main__card {
    background-color: white;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.card__img-holder {
    width: 16rem;
    margin: -1rem auto 1rem;
    height: 10rem;
    border-radius: 4px;
    background-repeat: no-repeat;
    background-position: center 1rem;
}

.card__img-holder--child {
    background-image: url(images/child.png);
    background-size: 40%;
}

.card__img-holder--adult {
    background-image: url(images/adult.png);
    background-size: 40%;
}

.card__img-holder--old {
    background-image: url(images/old.png);
    background-size: 58%;
}

.card__h4 {
    opacity: 0.9;
}

.card__p--main {
    line-height: 1.2rem;
    padding: 0.8rem 1.5rem 2rem;
}

.main__about {
    text-align: center;
    margin: 0 auto 5rem;
    width: 40%;
}

.main__about__p {
    opacity: 0.6;
    margin-top: 2rem;
    font-size: 0.8rem;
    line-height: 1.25rem;
    font-weight: 500;
}

.contact-form {
    width: 21rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
}

.contact-form__p {
    color: white;
    font-size: 0.8rem;
}

.contact-form__input {
    padding: 0.8rem;
    margin-bottom: 1.5rem;
    border: none;
    border-radius: 2px;
}

.contact-form__textarea {
    padding: 0.8rem;
    border: none;
    border-radius: 2px;
    margin-bottom: 2rem;
} 

.contact-form__button {
    align-self: flex-end;
}

/* .-.-.-.-.-.-.-.-.-.-.-.-.-. "HOW IT WORKS" .-.-.-.-.-.-.-.-.-. */

.how-it-works {
    grid-area: how-it-works;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.how-it-works__card {
    height: 21rem;
    padding: 1.8rem;
    display: flex;
    flex-direction: column;
}

.h2--how-it-works {
    margin: auto;
    text-align: center;
    color: rgba(0, 0, 0, 0.8);
}

.how-it-works article:nth-child(2),
.how-it-works article:nth-child(4),
.how-it-works article:nth-child(6) {
    background-color: white;
}

.how-it-works__card__number {
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 2rem;
    color: rgba(0, 0, 0, 0.4);
}

.how-it-works__p {
    margin: auto;
    font-weight: 500;
    text-align: center;
    padding: 0 2rem;
    color: rgba(0, 0, 0, 0.7);
}

/* .-.-.-.-.-.-.-.-.-.-.-.-.-. VISIT .-.-.-.-.-.-.-.-.-. */

.visit {
    grid-area: visit;
    height: 25.5rem;
    background-image: url(images/map-contact.png);
    position: relative;
}

.visit__info {
    margin: 2.8rem 4rem 0;
    width: 20rem;
    padding: 1rem 1rem 4rem;
}

.visit__address{
    font-size: 0.8rem;
    font-style: normal;
    color: white;
    font-weight: 500;
    line-height: 1.5rem;
}

.visit__needle {
    position: absolute;
    left: 29rem;
    top: 10rem;
}

/* .-.-.-.-.-.-.-.-.-.-.-.-.-. FOOTER .-.-.-.-.-.-.-.-.-. */

.footer {
    grid-area: footer;
    height: 21rem;
    background-color: #777574;
}

.footer__nav {
    background-color: var(--grey);
    padding: 1rem;
}

.nav__scroll{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgba(0, 0, 0, 0.7);
    font-weight: 500;
}

.scroll-icon {
    width: 2rem;
}